/* Error: Undefined variable.
 *     ,
 * 765 |           font-size: clamp(9px, calc($cell-size / 8), 11px);
 *     |                                      ^^^^^^^^^^
 *     '
 *   assets/scss/pages/_sudoku.scss 765:38  @use
 *   assets/scss/main.scss 29:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 765 \2502            font-size: clamp(9px, calc($cell-size / 8), 11px);\a     \2502                                       ^^^^^^^^^^\a     \2575 \a   assets/scss/pages/_sudoku.scss 765:38  @use\a   assets/scss/main.scss 29:1             root stylesheet";
}
